html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.split {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  background-color: white;
  width: 350px;
}

.right {
  background-color: black;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .split {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    height: 50vh;
  }
}
