*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    
    
}
.body{
  
  position: relative;
  display: flex;
  justify-content: flex-end; /* Center horizontally */    
  flex-wrap: wrap;
  
  
}

.first {  
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; /* Adjust margin-top as needed */
  margin-right: 20px;
  justify-content: flex-end;
}

.signals {
  width: 590px;  
  background-color: black;
  color: white; /* Example text color */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width */
  margin-right: 10px; /* Add margin-right for space */
  background: radial-gradient(circle, #000000, #0f0509, #170a14, #1c101c, #1e1426, #1e162b, #1e1830, #1c1b35, #1c1b35, #1c1b36, #1c1b36, #1c1b36);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  text-align: center; /* Aligns content inside .signals div */
  transition: transform 0.5s ease; /* Smooth transition for the transform */
}
.signals:hover {
  border-color: #1c1b36; /* Fallback solid color when border-image is not supported */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.05); /* Scale up the element on hover */
}


.signal-text {
  display: flex;
  justify-content: center; /* Centers child elements horizontally */
  align-items: center; /* Centers child elements vertically */
  height: 100%; /* Ensures the container takes full height */
}

.signal-item {
  display: none; /* Initially hides all signal items */
  text-align: center; /* Centers text horizontally */
  margin: 20px 0; /* Adjust margins as needed */
}

.line {
  margin: 5px 0; /* Adjust margins between lines */
}

.ad {
  width: 500px;  
  text-align: center;
  background-color: black;
  color: white; /* Example text color */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width */
  margin-right: 10px; /* Add margin-right for space */
  background: radial-gradient(circle, #000000, #0f0509, #170a14, #1c101c, #1e1426, #1e162b, #1e1830, #1c1b35, #1c1b35, #1c1b36, #1c1b36, #1c1b36);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s ease; /* Smooth transition for the transform */
}
.ad:hover {
  border-color: #1c1b36; /* Fallback solid color when border-image is not supported */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.05); /* Scale up the element on hover */
}
.coming-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 200px; /* adjust the height as needed */
}

.coming-text {
  font-size: 24px; /* adjust font size as needed */
}

.coming-soon-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 500px; /* adjust the height as needed */
}

.coming-soon-text {
  font-size: 24px; /* adjust font size as needed */
}
.second {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.widget {  
 
  margin-bottom: 50px;
  position: relative;
  transition: transform 0.5s ease; /* Smooth transition for the transform */
  background: radial-gradient(circle, #000000, #0f0509, #170a14, #1c101c, #1e1426, #1e162b, #1e1830, #1c1b35, #1c1b35, #1c1b36, #1c1b36, #1c1b36);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  padding: 20px;  
  
    
}
.widget:hover {
  border-color: #1c1b36; /* Fallback solid color when border-image is not supported */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.05); /* Scale up the element on hover */
}


.data {
  margin-left: 20px;
  width: 100%;  
  padding-bottom: 10px;
  max-width: 850px; /* Adjust as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  padding-left: 120px;
  padding-right: 120px; 
  transition: transform 0.5s ease; /* Smooth transition for the transform */
  background: radial-gradient(circle, #000000, #0f0509, #170a14, #1c101c, #1e1426, #1e162b, #1e1830, #1c1b35, #1c1b35, #1c1b36, #1c1b36, #1c1b36);
  padding: 20px;
  border-radius: 10px;

}
.data:hover {
  border-color: #1c1b36; /* Fallback solid color when border-image is not supported */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.05); /* Scale up the element on hover */
}
@media (max-width: 768px) {
  .body ,.first, .second {
      justify-content: center; /* Adjust alignment for smaller screens */
      margin: 20px auto; /* Add some margin for better spacing */
  }

  .signals, .ad, .widget, .data {
      width: 92%; /* Ensure full width on smaller screens */
      justify-content: center; /* Adjust alignment for smaller screens */
      margin: 10px auto; /* Add some margin for better spacing */
  }
}

/* Adjust styling for Trending Coins container */
.trendingCoinsContainer {
    padding-top: 20px;  /* Adjust as needed */
    padding-bottom: 20px; /* Adjust as needed */
  }
  
  /* Styling for Trending Coins */
  .trendingCoins {
    white-space: nowrap;
    justify-content: space-around;
    overflow: hidden;
    animation: scroll 55s linear infinite;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  
  .trendingCoins:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Styling for individual coins */
  .coin {
    display: inline-block;
    margin-right: 8px;
    padding: 8px;
    padding-right: 40px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.6s;
    backdrop-filter: blur(10px);
    background-color: rgba(28, 27, 54, 0.4);
  }
  
  .coin:hover {
    background-color: rgba(55, 72, 139, 0.6);
  }

  .tradingViewContainer {
    width: 100%;
    
    
  }
  .tradeview {
    background: radial-gradient(circle, #000000, #0f0509, #170a14, #1c101c, #1e1426, #1e162b, #1e1830, #1c1b35, #1c1b35, #1c1b36, #1c1b36, #1c1b36);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
    position: relative; /* Required for z-index and box-shadow to work */
    z-index: 1; /* Ensure it's above the shadow */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Add a shadow */    

    
}

.tradeview:hover {
    transform: scale(1.05); /* Scale up the element on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Enhance the shadow on hover */
}

  .paper {
    padding: 15px; /* Adjust padding as needed */
    color: white;
    border-radius: 0px; /* Slight rounding of corners for a cleaner look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 100%; /* Ensure it takes full width within its container */      
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(23, 27, 38, 0.5), rgba(23, 27, 38, 0.5), rgba(23, 25, 46, 0.5), rgba(21, 24, 42, 0.5), rgba(23, 27, 38, 0.5)); /* Transparent gradient */
  }
  

  
.inputField .MuiInputBase-input {
    color: white;
  }
  
  .inputField .MuiInputLabel-root {
    color: white;
  }
  
  .inputField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .inputField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .inputField .MuiOutlinedInput-root .MuiOutlinedInput-input {
    color: white;
  }
  
  .inputField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
    color: white;
  }
  
  .inputField .MuiInput-underline:before {
    border-bottom-color: white;
  }
  
  .inputField:hover .MuiInput-underline:before {
    border-bottom-color: white;
  }
  
  .inputField .MuiInput-underline:after {
    border-bottom-color: white;
  }